.product {
  display: flex;
  border-bottom: 1px solid lightgrey;
}
.product-name {
  color: blue;
}
.product-details {
  margin: 5px 60px;
}
.btn-cart {
  background-color: goldenrod;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 50px;
}
.btn-cart:hover {
  font-size: large;
  background-color: hotpink;
}
.icon-color {
  color: goldenrod;
}
